* {
  /* padding: 0;
  margin: 0; */
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
}

/* 將超出網頁範圍的部分隱藏
html,
body {
  overflow: hidden;
} */
.spinning {
  animation: logo-spin 8s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

input {
  visibility: collapse;
}

.logo {
  position: relative;
  height: 3rem;
  width: 3rem;
  top: 0;
}

header {
  display: flex;
  border-bottom:solid;
  box-sizing: 0.5rem;
  border-color: black;
  /* position: sticky; */
}

.ifc-web-title {
  font-size: 1rem;
  text-align: center;
  flex-wrap: nowrap;
  position: relative;
}

.ifc-model-list {
  font-size: 1rem;
  position: relative;
  width: 100%;
  text-align: right;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
}

.project-icon{
    width: 5rem;
    height: auto;
    vertical-align: middle;
}

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    margin: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
       fill: #008bf8;
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }